/* font-family: 'DM Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo{
  display: flex;
  align-items: center;
}
.logo span {
  margin-left: 3px;
}


.logo-container{
  display: flex;
  justify-content: space-between;
}

.poster-header {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  padding: 20px;

}

.search-box {
 width: 100%;
}
.search-box > .link{
  display: none;
}


.search-box img {
  width: 30px;
  border-radius: 20px;
  margin-right: 10px;
}

.search-box span {
  color: white;
}

.search-box p {
  color: white;
}

.search-box a {
  text-decoration: none;
  color: white;
}

.search-box input[type="text"] {
  display: flex;
  padding: 6px 10px;
  border-radius: 6px;
  width: 100%;
  border: 2px solid white;
  background: #7f7f7f;
  margin: 20px 0;
}

.search-box ::placeholder {
  color: white;
}


.jw-header {
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

.ratings {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ratings span {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: small;
  font-weight: lighter;
}

.sub-heading p {
  color: white;
  margin-bottom: 10px;
}

.trailer {
  display: flex;
  padding: 6px 16px;
  width: 200px;
  background: #be123c;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.trailer p {
  text-align: center;
  color: white;
  text-transform: uppercase;
}


.featured-header {
  padding: 20px;
}

.featured-header h3 {
  font-weight: 700;
  font-size: xx-large;
}

.featured-header p {
  font-weight: 400;
  color: #be123c;
}

.movie-card{
  width: 100%;
  min-height: 250px;
  margin-bottom: 40px;
}
.movie-card img{
  max-width: 100%;
}
.movie-poster {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.movie-poster p {
  font-weight: 700;
  margin-top: 10px  ;
  width: 200px;
}

.movie-poster span {
  font-weight: 200;
  font-size: small;
}

.footer-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.policy {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}



.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  margin-bottom: 50px;
}

/* mobile responsiveness */

@media screen and (min-width: 768px) {
  .movie-poster {
    display: grid;
    width: 93%;
    margin: 0 auto;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .john-wick {
    padding-top: 20px;
    padding-left: 60px;
    width: 400px;
  }


 .featured-header{
   width: 93%;
   margin : 40px auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

  .search-box input[type="text"] {
    display: flex;
    width: 525px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid white;
    margin: 0 250px;
    background: #7f7f7f;
  }
  .movie-card{
    margin-bottom: unset;
  }

  .footer-container {
    flex-direction: row;
  }


  .policy {
    flex-direction: row;
     justify-content: space-around;
  }

  footer .policy p {
    margin: 0 10px;
  }

  .poster-header {
    height: 500px;
  }

  .search-box {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 60px;
  }
  .search-box div > .link{
    display: none;
  }
  .search-box > .link{
    display: flex;
  }
}
